<style>
    .custom-color {
        color: #616161;
        background: #F4F4F4;
    }

    .custom-focus-color:focus {
        border-color: #D5D5D5;
        box-shadow: 0 0 5px #F4F4F4;
        color: #616161;
        outline: 0;
        background: #F4F4F4;
    }
</style>

<body class="sb-nav-fixed">
    <div class="loader-container">
        <div class="loader"></div>
    </div>
    <nav class="sb-topnav navbar navbar-expand" id="sb-topnav-expand2">
        <a href="/admin/home" class="navbar-brand ps-3" id="navbar-brand2">
            <img src="/img/utsb.webp" width=" 90px" height="46px" id="nav-img">
        </a>
        <button class="btn btn-link d-md-inline-block me-0" id="sidebarToggle" style="color: #FAFAFA;">
            <i class="fas fa-lg fa-bars"></i>
        </button>
        <h5 id="titleh5">Datos de la nueva materia</h5>
        <div class="d-none d-md-inline-block ms-auto me-0">
            <img src="/uploads/{{imageUser}}" width="35px">
        </div>
        <h5 class="mx-3" id="titleh5a">Admin {{nameUser}} {{lastnameUser}}</h5>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav mt-4">
                        <a href="/admin/home" class="nav-link" id="nav-l-info2">
                            <div class="sb-nav-link-icon">
                                <img src="/img/Dashboard.svg" width="25px">
                            </div>
                            Dashboard
                        </a>
                        <a href="/admin/student/list" class="nav-link" id="nav-l-info2">
                            <div class="sb-nav-link-icon">
                                <img src="/img/teach.svg" width="26px">
                            </div>
                            Estudiantes
                        </a>
                        <a href="/admin/mentoring/list" class="nav-link" id="nav-l-info2">
                            <div class="sb-nav-link-icon">
                                <img src="/img/book.svg" width="25px">
                            </div>
                            Tutorías
                        </a>
                        <a href="/admin/teacher/list" class="nav-link" id="nav-l-info2">
                            <div class="sb-nav-link-icon">
                                <img src="/img/back.svg" width="25px">
                            </div>
                            Docentes
                        </a>
                        <a href="/admin/subject/list" class="nav-link" id="nav-l-info">
                            <div class="sb-nav-link-icon">
                                <img src="/img/peng.svg" width="25px">
                            </div>
                            Materias
                        </a>
                        <a href="/admin/rating/list" class="nav-link" id="nav-l-info2">
                            <div class="sb-nav-link-icon">
                                <img src="/img/stargr.svg" width="27px">
                            </div>
                            Puntuaciones
                        </a>
                        <div class="nav-link collapsed" id="nav-l-info2" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts2" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon">
                                <img src="/img/User.svg" width="25px">
                            </div>
                            Cuenta
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapseLayouts2" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a href="/admin/data" class="nav-link" id="text1">Mis datos</a>
                                <a href="/admin/logout" class="nav-link" id="text1">Cerrar sesión</a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <span class="fw-bold">Developed by: </span>devsebass
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <form action="/admin/subject/new" method="post" id="miFormulario">
                <div class="m-5" id="cont-form">
                    <div class="row pt-4 py-2 d-flex justify-content-center">
                        <div class="col-4" style="margin-right: 20px;">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group mt-3 mb-2">
                                        <div class="row">
                                            <div class="mb-2">
                                                <label for="id" class="fw-bold" id="title6b">Código:</label>
                                            </div>
                                            <div class="col-11">
                                                <input type="text" class="form-control custom-focus-color" name="id"
                                                    id="inputval" style="text-transform: capitalize;"
                                                    onblur="capitalizeEachWord(this)" required>
                                            </div>
                                            {{#if error}}
                                            <p class="text text-danger font-bold text-lg mb-0">* {{error}}</p>
                                            {{/if}}
                                        </div>
                                    </div>
                                    <div class=" form-group mb-2">
                                        <div class="row">
                                            <div class="mb-2">
                                                <label for="name" class="fw-bold" id="title6b">Nombre:</label>
                                            </div>
                                            <div class="col-11">
                                                <input type="text" class="form-control custom-focus-color" name="name"
                                                    id="inputval" value="{{name}}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-2">
                                        <div class="row">
                                            <div class="mb-2">
                                                <label for="date" class="fw-bold" id="title6b">Disponibilidad:</label>
                                            </div>
                                            <div class="col-11">
                                                <input type="disponibility"
                                                    class="form-control custom-color custom-focus-color"
                                                    name="disponibility" id="inputval" value="{{disponibility}}"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-2">
                                        <div class="row">
                                            <div class="mb-2">
                                                <label for="image" class="fw-bold" id="title6b">Modalidad:</label>
                                            </div>
                                            <div class="col-11">
                                                <input type="modality"
                                                    class="form-control custom-color custom-focus-color" name="modality"
                                                    id="inputval" value="{{modality}}" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mt-4 mb-3">
                                        <div class="row">
                                            <div class="col-6">
                                                <div type="submit" class="sb-sidenav-footer4b"
                                                    style="margin-left: 37px;" onclick="enviarFormulario()" id="submit">
                                                    Guardar
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 d-flex justify-content-around align-items-center">
                            <img src="/img/news.svg" alt="Imagen personal info" width="430px">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</body>